:root {
    --header-bg: #06297A;
    --hdr-txt-color: #ACB67C; 
    --txt-color: #A97283;
    --footer-bg: #A30031;
    --gradient: linear-gradient(#faf0f4, #f891b7);
    --dark-accent: #4b8a9d;
    --medium-accent: #d7aebc;
    --body-bg: #E8EBF4;
}


* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;  
  }

body {
    background-color: var(--body-bg);
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-bg);
    color: var(--hdr-txt-color);
    width: 100%;
}

a {
    color: var(--hdr-txt-color);
}

header h1 {
    font-size: 250%;
    padding: 15px;
}

header > h1 > span {
    letter-spacing: -.18em;
}

h2 {
    font-size: 180%;
    margin: 25px;
    padding-bottom: 12px;
    border-bottom: 3px;
    border-bottom-color: #B9C4DF;
    border-bottom-style: solid;
    color: #123585;
}

p {
    font-size: 10pt;
    text-align: left;
    margin:30px;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-top: 40px;
}

nav > ul > li {
    padding: 10px;
}

nav > ul > li > a:hover {
    color: #B2D507;
}

main {
    padding: 5px;
    text-align: center;
}

footer {
    background-color: var(--footer-bg);
    color: var(--txt-color);
    width: 100%;
    height: 50px;
    line-height: 40px;
    text-align: center;
}

section > img {
    margin-top:80px;
}

img {
    height: 350px;
    width: 290px;
    align-content: center;
}

.card {
    margin: 10px;
    border-color: #B9C4DF;
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
    padding: 12px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

figure{
    font-style: italic;
    align: center;
}
/*
.infoform {
    align: center;
}
*/
.image {
    width: 100%;
    align: center;
}