:root {
    --header-bg: #0F06A4;
    --txt-color: #91B600;
    --footer-bg: #8E2E00;
    --gradient: linear-gradient(#faf0f4, #f891b7);
    --dark-accent: #4b8a9d;
    --medium-accent: #d7aebc;
    --body-bg: #f3f3f3;
}


* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;  
  }

body {
    background-color: var(--body-bg);
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-bg);
    color: var(--txt-color);
    width: 100%;
}

a {
    color: var(--txt-color);
}
header h1 {
    font-size: 250%;
    padding: 15px;
}

header > h1 > span {
    letter-spacing: -.18em;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-top: 40px;
}

nav > ul > li {
    padding: 10px;
}

nav > ul > li > a:hover {
    color: #AAEF27;
}

main {
    padding: 5px;
}

footer {
    background-color: var(--footer-bg);
    color: var(--txt-color);
    width: 100%;
    height: 50px;
    line-height: 40px;
    text-align: center;
}

figure {

}
                                       
img {
    padding-top: 100px;
    width: 150x;
    height: 150px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

figure{
    font-style: italic;
    align: center;
}
/*
.infoform {
    align: center;
}
*/
.image {
    width: 100%;
    align: center;
}